numpy
torch
torchtext
torchvision
tensorflow
gpt4all
transformers
sockets
keras
accelerate
openai
sentencepiece
sacremoses
asyncio
speechrecognition
runhouse
websockets
mysql-connector-python
requests
beautifulsoup4
datasets