# Please use the `install_requirements_auto.sh` script!!!!

# General requirements
numpy<1.27,>=1.22
torch>=2.0.0,<2.6.0
torchtext
torchvision
torchaudio
transformers<4.60.0,>=4.52.1
diffusers<=0.31.0

# Server requirements
asyncio
websockets>=15.0.0,<16.0.0
pymysql==1.1.1
cryptography>=44.0.0,<45.0.0

# Other requirements
requests
beautifulsoup4
duckduckgo-search>=7.5.0
soundfile<0.13.0,>=0.12.1
scipy
opencv-python
Pillow
setuptools
safetensors
sentencepiece
emoji
pydub
#git+https://github.com/Tps-F/fairseq.git@main  # This is installed in the automated script
psutil
pyyaml
omegaconf>=2.2,<2.4
Cython
antlr4-python3-runtime==4.9
I4_0-Client-PY
bitsandbytes
accelerate>=0.26.0
click<9.0.0,>=8.1.7
weasyprint>=65.1,<66
html2docx
googlesearch-python
pandas
openpyxl
PyPDF2

# Requirements for inference
#gpt4all==2.8.2  # Removed support because it was outdated
#llama-cpp-python  # This is installed in the automated script
#stable-diffusion-cpp-python  # This is installed in the automated script
SpeechRecognition==3.10.4
openai-whisper>=20240930
qwen-omni-utils[decord]
#git+https://github.com/RVC-Project/Retrieval-based-Voice-Conversion.git@develop    # This is installed in the automated script
#git+https://github.com/TAO71-AI/Retrieval-based-Voice-Conversion.git@intel_support  # For Intel GPUs, this is installed in the automated script