# Please use the `install_requirements_auto.sh` script!!!!

# General requirements
numpy<1.27,>=1.22
torch>=2.7.1
torchtext
torchvision
torchaudio
transformers<4.60.0,>=4.52.1
diffusers<=0.31.0

# Server requirements
asyncio
websockets>=15.0.0,<16.0.0
pymysql==1.1.1
cryptography

# Other requirements
requests
beautifulsoup4
ddgs>=9.4.3
soundfile<0.13.0,>=0.12.1
scipy
opencv-python
Pillow
setuptools
safetensors
sentencepiece
emoji
pydub
#git+https://github.com/Tps-F/fairseq.git@main  # This is installed in the automated script
psutil
pyyaml
omegaconf>=2.2,<2.4
Cython
antlr4-python3-runtime==4.9
I4_0-Client-PY
bitsandbytes
accelerate>=0.26.0
click<9.0.0,>=8.1.7
weasyprint>=65.1,<66
html2docx
googlesearch-python
pandas
openpyxl
PyPDF2
rfc3986<3.0.0,>=2.0.0
csvw

# Requirements for inference
#llama-cpp-python  # This is installed in the automated script
#stable-diffusion-cpp-python  # This is installed in the automated script
SpeechRecognition==3.10.4
openai-whisper>=20240930
qwen-omni-utils[decord]
kokoro>=0.9.4
misaki[ja]
misaki[zh]
misaki[en]
#git+https://github.com/RVC-Project/Retrieval-based-Voice-Conversion.git@develop    # This is installed in the automated script