# NOTE: This requirements are OPTIONAL, but to don't have errors when using HuggingFace's models, please download them.
sacremoses
timm
einops
invisible_watermark
optimum[openvino]
optimum[onnxruntime]
ctranslate2